<h2>{{logoMessage}} erikdonohoo.com account <a href="#/about/account"><small id="whatsthis" title="click for more info" ng-show="!loggedIn">What's this?</small></a></h2>
<hr>
<form class="form-horizontal" ng-submit="save()">
	<div class="control-group" ng-show="!loggedIn">
		<label class="control-label" for="inputUser">Username </label>
		<div class="controls">
			<div class="input-prepend">
      			<span class="add-on"><i class="icon-user"></i></span>
				<input type="text" id="inputUser" placeholder="Username" ng-model="newuser.username" ng-required="!loggedIn" autofocus>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputEmail">Email </label>
		<div class="controls">
			<div class="input-prepend input-append">
      			<span class="add-on"><i class="icon-envelope"></i></span>
				<input type="text" id="inputEmail" placeholder="Email" ng-model="newuser.email" required>
				<span class="add-on" id="email-info-tip" title="Email required for password resets"><i data-toggle="tooltip" class="icon-info-sign"></i></span>
			</div>
		</div>
	</div>
	<div class="control-group" ng-show="!loggedIn">
		<label class="control-label" for="inputPassword">Password</label>
		<div class="controls">
			<div class="input-prepend">
      			<span class="add-on"><i class="icon-lock"></i></span>
				<input type="password" id="inputPassword" placeholder="Password" ng-model="newuser.password" ng-required="!loggedIn">
			</div>
		</div>
	</div>
	<div class="control-group" ng-show="!loggedIn">
		<label class="control-label" for="inputPasswordVerify">Password (verify)</label>
		<div class="controls">
			<div class="input-prepend">
      			<span class="add-on"><i class="icon-lock"></i></span>
				<input type="password" id="inputPasswordVerify" placeholder="Verify Password" ng-model="newuser.passwordverify" ng-required="!loggedIn">
			</div>
		</div>
	</div>
	<div class="control-group" ng-show="loggedIn">
		<div class="controls">
			<button ng-click="resetPassword()" class="btn">Reset Password</button>
			<img src="img/loading.gif" ng-show="loading" />
		</div>
		<div class="controls">
			<div class="alert alert-info" ng-show="passwordreset">
				<button type="button" class="close" ng-click="passwordreset = false">&times;</button>
				<strong>Email Sent</strong> Password reset email was sent to address listed above
			</div>
			<div class="alert alert-danger" ng-show="passwordreseterror">
				<button type="button" class="close" ng-click="passwordreseterror = false">&times;</button>
				<strong>Error</strong> There was a problem sending the password reset email.  Try again later
			</div>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" ng-model="newuser.gravatar"> Use <a target="_blank" href="http://gravatar.com" id="gravatar-tip" title="click here to set up gravatar" class="btn-link">gravatar</a> for avatar
			</label>
			<button type="submit" class="btn btn-primary">{{buttonMessage}} Account</button>
			<img src="img/loading.gif" ng-show="loading" />
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<div class="alert" ng-show="alert">
				<button type="button" class="close" ng-click="alert = false">&times;</button>
				<strong>Warning!</strong> Passwords entered don't match
			</div>
			<div class="alert alert-danger" ng-show="error">
				<button type="button" class="close" ng-click="error = false">&times;</button>
				<strong>Error!</strong> {{errormessage}}
			</div>
			<div class="alert alert-danger" ng-show="updateerror">
				<button type="button" class="close" ng-click="updateerror = false">&times;</button>
				<strong>Error!</strong> {{updatemessage}}
			</div>
		</div>
	</div>
</form>