<style>
	/* Snake Styles */
	#snakecanvas {
		border:5px double #aaa;
		background:#fff;
	}
	.score-span {
		margin-right:50px;
		display:inline !important;
	}
	.score-span code {
		font-size:22px;
	}
	.emph {
		font-weight:700;
	}
</style>

<h2>Snake</h2>
<hr>
<div id="snakecontainer">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span7">
				<canvas id="snakecanvas" width="384" height="384"></canvas>
				<button ng-show="paused || !started" class="btn btn-success" ng-click="togglePlay()">Start</button>
				<button ng-show="started && !paused" class="btn btn-warning" ng-click="togglePlay()">Pause</button>
				<button ng-class="{'btn-primary': scoreToSave, 'btn-link': !scoreToSave}" id="savescorebutton" data-loading-text="Saving..." data-complete-text="Score Saved!" ng-show="!paused && gameover && loggedIn" ng-click="saveScore()" class="btn">Save that Score!</button>
				<div class="span5 score-span pull-right text-right"><strong>SCORE: </strong><code>{{score | number:0}}</code></div>
			</div>
			<div class="span5">
				<h4>About Snake</h4>
				<p>
					To control...
				</p>
				<p>
					Use <span class="label label-info"><i class="icon-arrow-up"></i></span>
					<span class="label label-info"><i class="icon-arrow-down"></i></span>
					<span class="label label-info"><i class="icon-arrow-left"></i></span>
					<span class="label label-info"><i class="icon-arrow-right"></i></span> keys to move
				</p>
				<p>
					Try to collect as much food as you can!  You can go through walls but don't run into yourself or it's gameover!
				</p>
				<div ng-show="!loggedIn">
					<p>
						To view high scores and your personal best, <a class="btn btn-success" href="#/register">Register</a> or <a class="btn btn-primary" href="#/signin">Sign in</a>
					</p>
				</div>
				<div ng-show="loggedIn">
					<hr>
					<h4 class="text-warning">Personal Best: <code class="text-info" style="font-size:22px;">{{personalBest}}</code></h4>
					<h4 class="text-success">High Scores</h4>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Player</th>
								<th>Score</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="score in scores">
								<td ng-class="{'text-info emph' : getUser().attributes.username == score.attributes.user.attributes.username}">{{score.attributes.user.attributes.username}}</td>
								<td ng-class="{'text-info emph' : getUser().attributes.username == score.attributes.user.attributes.username}">{{score.attributes.score}}</td>
								<td ng-class="{'text-info emph' : getUser().attributes.username == score.attributes.user.attributes.username}">{{score.createdAt | date:'MM-d-yyyy'}}</td>
							</tr>
						</tbody>
					</table>
					<button class="btn" ng-click="pullScores(true)">Refresh Scores</button>
					<img src="img/loading.gif" ng-show="loading" />
					<br><br>
					<div ng-show="snakeerror" class="alert alert-error">
					  <button type="button" class="close" ng-click="snakeerror = false">&times;</button>
					  <strong>Error</strong> {{errormessage}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="pageLeave" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<h3 id="myModalLabel">Are you sure?</h3>
	</div>
	<div class="modal-body">
		<p>If you leave now, your scores won't be saved and you will lose your progress</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button ng-show="!signingOut" ng-click="leave()" class="btn btn-danger">Leave Anyway</button>
		<button ng-show="signingOut" ng-click="signout(true)" class="btn btn-danger">Sign Out Anyway</button>
	</div>
</div>